language: c
compiler: gcc
sudo: false
env:
  global:
    - CTEST_OUTPUT_ON_FAILURE=true
addons:
  apt:
    packages:
      - libgtest-dev
      - lcov
install:
  - gem install coveralls-lcov
  - gtest/build_gtest.sh
before_script:
  - cd ${TRAVIS_BUILD_DIR}
  - cmake .
  - make coverage-zero
  - make
  - make all-tests
  - make coverage-initial
script:
  - make test
after_success:
  - echo -e "\e[32m( ' \u25bd ' )b  $TRAVIS_BRANCH of $TRAVIS_REPO_SLUG on $HOST\e[0m"; make coverage-results
  - coveralls-lcov --repo-token ${COVERALLS_TOKEN} tests/coverage.info
after_failure:
  - echo -e "\e[31m(╯°□°)╯︵ ┻━┻  $HOST\e[0m"
